<div style="text-align: center;">
  <h3>PANEL DE </h3>
  <h3>ADMINISTRACIÓN</h3>
</div>
<img src="uaa.png">
<div fxLayout="row" fxLayoutAlign="center none" layout-wrap>
  <mat-card fxFlex="noshink" fxFlex.gt-sm="25%" fxFlex.sm="50%">
    <mat-card-title style="text-align: center; color:rgb(27, 31, 88)">Inicio de sesión</mat-card-title>
    <br>
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlexOffset.gt-xs="10%" fxFlex.gt-xs="80%">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Correo electronico">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexOffset.gt-xs="10%" fxFlex.gt-xs="80%">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Contraseña">
          </mat-form-field>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <div fxFlexOffset.gt-xs="20%" fxFlex.gt-xs="60%">
          <button mat-raised-button color="accent" routerLink="/" style="width: 100%">Entrar</button>
        </div>
      </div>
      <br>
    </mat-card-content>
  </mat-card>
</div>
<br>
<br>
<br>
<div style="text-align: center;">
    <h4 style="color: black">Terminos y condiciones</h4>
</div>
