<div style="text-align: center;">
  <br>
  <font class="subtitle">PANEL DE</font>
  <br>
  <font class="subtitle">ADMINISTRACIÓN</font>
  <br>
  <br>
</div>
<div fxLayout="row" fxLayoutAlign="center none" layout-wrap>
  <mat-card fxFlex="noshink" fxFlex.gt-sm="25%" fxFlex.sm="50%">
    <div style="text-align: center">
        <img width="250px" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Logo_UAA.png">
    </div>
    <br>
    <br>
    <!-- <mat-card-title style="text-align: center; color:rgb(150, 0, 139)">Inicio de sesión</mat-card-title> -->
    <mat-card-content style="text-align: center">
        <font class="subtitle" style="text-align: center; color:rgb(150, 0, 139)">INICIO DE SESIÓN
        </font>
      <div>
        <div fxFlexOffset.gt-xs="10%" fxFlex.gt-xs="80%">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Nombre de usuario">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexOffset.gt-xs="10%" fxFlex.gt-xs="80%">
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Contraseña">
          </mat-form-field>
        </div>
      </div>
      <br>
      <div fxLayout="row">
        <div fxFlexOffset.gt-xs="20%" fxFlex.gt-xs="60%">
          <button mat-raised-button color="accent" routerLink="/" style="width: 100%">Entrar</button>
        </div>
      </div>
      <br>
    </mat-card-content>
  </mat-card>
</div>
<br>
<br>
<div class="text" style="text-align: center;">
    <font style="color: black">Terminos y condiciones de uso</font>
</div>
